.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding-top: 20px;
    z-index: 1;
    
    padding-bottom: 20px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
}

.sidebar-links a {
    padding: 6px 8px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidebar-links a:hover {
    color: #f1f1f1;
    background-color: #333;
}

.sidenav .sidebar-links a:last-child {
    margin-top: auto;
}

.main {
    margin-left: 200px; 
    padding: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
    background-color: #333;
}

.sidenav a:last-child {
    margin-top: auto;
}

.sidebar-bottom {
    flex-direction: column;
    margin-top: 10px;
}

.sidebar-bottom form {
    margin-bottom: 7px;
}

.sidenav .sidebar-bottom form:last-child {
    margin-bottom: 30px;
}

.sidebar-bottom a:hover {
    background-color: #ff0000;
}
