<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/back.css" type="text/css" />
    <title>Manual Water Pump Activation</title>
</head>
<body>
    <h1>Manual Water Pump Activation</h1>
    <p>Water Pump is running, please wait at least 5 seconds, when you press back button the pump history should be updated!</p>
    <a class="center-link" href="/">
        <button>Back to Home</button>
    </a>
</body>
</html>
