<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" type="text/css" />
    <link rel="stylesheet" href="static/sidebar.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Full Pump History</title>
    <script src="../static/scripts.js"></script>
    <script src="../static/sysops.js"></script>
    <script src="../static/logout.js"></script>
</head>
<body>
    <div class="sidenav">
        <h1 style="text-align: left; padding: 14px">Menu</h1>
        <div class="sidebar-links">
            <a href="/" style="font-size: 15px;"><i class="fas fa-tachometer-alt"></i> Bảng Điều Khiển</a>
            <a href="/camera" style="font-size: 15px;"><i class="fas fa-camera"></i> Xem Camera</a>
            <a href="/profiles" type="submit" style="font-size: 15px;"><i class="fas fa-user"></i> Quản Lý Profile</a>
            <a href="/cron" type="submit" style="font-size: 15px;"><i class="fas fa-clock"></i> Quản Lý Cronjob</a>
            <a href="/analytics" type="submit" style="font-size: 15px;"><i class="fas fa-chart-bar"></i> Thống Kê</a>
            <a href="/admin" type="submit" style="font-size: 15px;"><i class="fas fa-lock"></i> Admin</a>
        </div>
        <div class="sidebar-bottom">
            <a href="/shutdown" onclick="sendPostRequest(event, '/shutdown')" style="font-size: 15px;"><i class="fas fa-power-off"></i> Tắt Máy</a>
            <a href="/reboot" onclick="sendPostRequest(event, '/reboot')" style="font-size: 15px;"><i class="fas fa-sync"></i> Khởi Động Lại</a>
            <a href="/logout" onclick="sendPostRequest(event, '/logout')" style="font-size: 15px;"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
        </div>
    </div>

    <div class="main">
        <h1>Lịch Sử Tưới</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Giờ</th>
                    <th>Hoạt Động</th>
                    <th>Thời Gian Tưới</th>
                </tr>
            </thead>
            <tbody>
                {% for pump_run in pump_history %}
                <tr>
                    <td>{{ pump_run.id }}</td>
                    <td>{{ pump_run.timestamp }}</td>
                    <td>{{ pump_run.event }}</td>
                    <td>{{ pump_run.duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</body>
</html>
