<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" type="text/css" />
    <link rel="stylesheet" href="static/sidebar.css" type="text/css"/>
    <title>Full Pump History</title>
    <script src="../static/scripts.js"></script>
    <script src="../static/sysops.js"></script>
    <script src="../static/logout.js"></script>
</head>
<body>
    <div class="sidenav">
        <h1 style="text-align: left; padding: 14px;">Menu</h1>
        <div class="sidebar-links">
            <a href="/">Bảng Điều Khiển</a>
            <a href="/camera">Xem Camera</a>
            <a href="/profiles" type="submit">Quản Lý Profile</a>
            <a href="/cron" type="submit">Quản Lý Cronjob</a>
            <a href="/analytics" type="submit">Thống Kê</a>
            <a href="/admin" type="submit">Admin</a>
        </div>
        <div class="sidebar-bottom">
            <a href="/shutdown" onclick="sendPostRequest(event, '/shutdown')">Tắt Máy</a>
            <a href="/reboot" onclick="sendPostRequest(event, '/reboot')">Khởi Động Lại</a>
            <a href="/logout" onclick="sendPostRequest(event, '/logout')">Đăng xuất</a>
        </div>
    </div>

    <div class="main">
        <h1>Lịch Sử Tưới</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Giờ</th>
                    <th>Hoạt Động</th>
                    <th>Thời Gian Tưới</th>
                </tr>
            </thead>
            <tbody>
                {% for pump_run in pump_history %}
                <tr>
                    <td>{{ pump_run.id }}</td>
                    <td>{{ pump_run.timestamp }}</td>
                    <td>{{ pump_run.event }}</td>
                    <td>{{ pump_run.duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</body>
</html>
