<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" type="text/css"/>
    <link rel="stylesheet" href="static/sidebar.css" type="text/css"/>
    <title>Soil Moisture Status</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts.js"></script>
    <script src="../static/sysops.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/SpeechKITT/0.3.0/speechkitt.min.js"></script>
</head>
<body>
    <div class="sidenav">
        <h1 style="text-align: left; padding: 14px;">Menu</h1>
        <div class="sidebar-links">
            <a href="/">Bảng Điều Khiển</a>
            <a href="/camera">Xem Camera</a>
            <a href="/profiles" type="submit">Quản Lý Profile</a>
            <a href="/cron" type="submit">Quản Lý Cronjob</a>
            <a href="/analytics" type="submit">Thống Kê</a>
            <a href="/admin" type="submit">Admin</a>
        </div>
        <div class="sidebar-bottom">
            <a href="/shutdown" onclick="sendPostRequest(event, '/shutdown')">Tắt Máy</a>
            <a href="/reboot" onclick="sendPostRequest(event, '/reboot')">Khởi Động Lại</a>
            <a href="/logout" onclick="sendPostRequest(event, '/logout')">logout</a>
        </div>
    </div>

    <div class="main">
        <h1>Bảng Điều Khiển</h1>
        <p>Lần tưới gần đây nhất: {{ latest_pump_run.timestamp }} (thời gian tưới: {{ latest_pump_run.duration }})</p>
        <h2 style="text-align:center">Thông Tin Hệ Thống</h2>
        <div class="system-info">
            <div class="system-info-box">
                <p class="system-info-label">Sử Dụng Ram</p>
                <p class="system-info-value"><span id="ramUsage">{{ ram_usage }}</span>%</p>
            </div>
            
            <div class="system-info-box">
                <p class="system-info-label">Sử Dụng CPU</p>
                <p class="system-info-value"><span id="cpuUsage">{{ cpu_usage }}</span>%</p>
            </div>
            
            <div class="system-info-box">
                <p class="system-info-label">Nhiệt Độ CPU</p>
                <p class="system-info-value"><span id="cpuTemp">{% if cpu_temp != 'N/A' %}{{ cpu_temp.current }} {% else %}N/A{% endif %}</span></p>
            </div>
        
            <div class="system-info-box">
                <p class="system-info-label">Độ Ẩm Đất</p>
                <p class="system-info-value"><span id="soilMoisture">{{ soil_moisture | round }}</span></p>
            </div>
            <div class="system-info-box">
                <p>Nhiệt Độ: <span id="temperature">{{ temperature }}</span>C</p>
                <p>Độ Ẩm: <span id="humidity">{{ humidity }}</span>%</p>
            </div>
        </div>
        <h2 style="text-align:center">Lịch Sử Tưới (5 lần gần đây nhất)</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Giờ</th>
                    <th>Hoạt Động</th>
                    <th>Thời Gian Tưới</th>
                </tr>
            </thead>
            <tbody>
                {% for pump_run in pump_history %}
                <tr>
                    <td>{{ pump_run.id }}</td>
                    <td>{{ pump_run.timestamp }}</td>
                    <td>{{ pump_run.event }}</td>
                    <td>{{ pump_run.duration }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="button-group">
            <form action="/force_water" method="post">
                <button type="submit">Tưới Thủ Công</button>
            </form>
            <form action="/skip_water" method="post">
                <button type="submit">Bỏ Qua Lần Tưới Tiếp Theo</button>
            </form>
            <form action="/poll" method="post">
                <button type="submit">Kiểm Tra </button>
            </form>
            <form action="/history" method="post">
                <button type="submit">Xem Lịch Sử Tưới</button>
            </form>
            <form action="/clear" method="post">
                <button type="submit" class="clear-history-button">Xóa Lịch Sử Tưới</button>
            </form>
        </div>
    </div>
</body>
</html>
