<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css" type="text/css" />
    <link rel="stylesheet" href="static/profile.css" type="text/css" />
    <link rel="stylesheet" href="static/sidebar.css" type="text/css"/>
    <script src="../static/sysops.js"></script>
    <title>Profile Management</title>
</head>
<body>
    <div class="sidenav">
        <h1 style="text-align: left; padding: 14px;">Menu</h1>
        <div class="sidebar-links">
            <a href="/">Bảng Điều Khiển</a>
            <a href="/camera">Xem Camera</a>
            <a href="/profiles" type="submit">Quản Lý Profile</a>
            <a href="/cron" type="submit">Quản Lý Cronjob</a>
            <!-- Add more buttons here -->
        </div>
        <div class="sidebar-bottom">
            <a href="/shutdown" onclick="sendPostRequest(event, '/shutdown')">Tắt Máy</a>
            <a href="/reboot" onclick="sendPostRequest(event, '/reboot')">Khởi Động Lại</a>
        </div>
    </div>

    <div class="main">
        <h1>Quản Lý Profile</h1>
        <div class="active-profile-info">
            <h2 style="text-align:center">Profile Đang Dùng</h2>
            <p>Tên: <strong>{{ active_profile.name if active_profile else 'None selected' }}</strong></p>
            <p>Giới Hạn Độ Ẩm Đất Hiện Tại: <strong>{{ active_profile.soil_moisture_threshold if active_profile else 'N/A' }}</strong></p>
            <p>Thời gian tưới: <strong>{{ active_profile.pump_duration if active_profile else 'N/A' }}</strong></p>
        </div>

        
        <div style="display: flex; justify-content: center; align-items: center;">
            <form action="/select_profile" method="post">
                <label for="profile_selection">Chọn Profile:</label>
                <select name="profile_id" id="profile_selection">
                    {% for profile in profiles %}
                        <option value="{{ profile['id'] }}" {% if profile['is_active'] == 1 %} selected {% endif %}>
                            {{ profile['name'] }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">Đặt Profile Đang Dùng</button>
            </form>
        </div>
        <h2 style="text-align:center">Tạo Profiles</h2>
        <div style="display: flex; justify-content: center; align-items: center;">
            <form action="/update_profile" method="post">
                <label for="profile_name">Tên Profile:</label>
                <input type="text" id="profile_name" name="profile_name" required>
                <label for="soil_moisture_threshold">Giới Hạn Độ Ẩm Đất:</label>
                <input type="number" id="soil_moisture_threshold" name="soil_moisture_threshold" required>
                <label for="pump_duration">Thời gian tưới:</label>
                <input type="number" id="pump_duration" name="pump_duration" required>
                <button type="submit">Lưu Profile</button>
            </form>
        </div>
        <h2 style="text-align:center">Quản Lý Profiles</h2>
        <table style="margin-left: auto; margin-right: auto;">
            <thead>
                <tr>
                    <th>Tên Profile</th>
                    <th>Giới Hạn Độ Ẩm Đất</th>
                    <th>Thời gian tưới</th>
                    <th>Hành Động</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for profile in profiles %}
                <tr>
                    <td>{{ profile['name'] }}</td>
                    <td>{{ profile['soil_moisture_threshold'] }}</td>
                    <td>{{ profile['pump_duration'] }}</td>
                    <td>
                        <form action="{{ url_for('delete_profile', profile_id=profile['id']) }}" method="post">
                            <button type="submit" onclick="return confirm('Bạn có chắc bạn muốn xóa profile này?');">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
